@{
    TempData["Title"] = "State Add/Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using DataBaseConnectionMVC.Areas.LOC_State.Models;
@model LOC_StateModel;
<div class="row">
    <div class="col-md-12">
        <form method="post" asp-controller="LOC_State" asp-action="SaveState">
            @*Here we have taken StateId as hidden field which will be useful while
            update a record.*@
            @Html.HiddenFor(x=>x.StateId)
            <div class="form-group">
                <label>Country Name</label>
                @*<input type="text" class="form-control" asp-for="CountryId" placeholder="Enter CountryId" />*@
                <select class="form-select form-select-lg mb-3" asp-for="CountryId" asp-items="@(new SelectList(ViewBag.CountryList,"CountryId","CountryName"))">
                    <option>Select Country</option>
                </select>
            </div>
            <div class="form-group">
                <label>State Name</label>
                <input type="text" class="form-control" asp-for="StateName" placeholder="Enter State Name" />
                <span asp-validation-for="StateName" style="color:red"></span>
            </div>
            <br />
            <div class="form-group">
                <label>State Code</label>
                <input type="text" class="form-control" asp-for="StateCode" placeholder="Enter State Code" />
                <span asp-validation-for="StateCode" style="color:red"></span>
            </div>
            <br />
            <div class="form-group">
                <label>Created Date</label>
                <input type="date" class="form-control" asp-for="Created" />
                <span asp-validation-for="Created" style="color:red"></span>
            </div>
            <br />
            <div class="form-group">
                <label>Modified Date</label>
                <input type="date" class="form-control" asp-for="Modified" />
                <span asp-validation-for="Modified" style="color:red"></span>
            </div>
            <br />
            <input type="submit" value="Save" class="btn btn-success" />
            <a class="btn btn-primary" asp-area="LOC_State" asp-controller="LOC_State" asp-action="CancleState">Cancle</a>
        </form>
    </div>
</div>